body {
  background-color: beige;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 80px;
  padding: 30px;
  margin: 30px;
  color: blueviolet;
}

.fist-div {
  background-color: brown;
}

nav li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.fist-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav li:hover {
  background-color: blue;
}
