/* body */

body {
  background-color: beige;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Heading h1 h2 ... h6 */

h1 {
  margin: 20px;
  font-size: 80px;
  color: blueviolet;
  text-align: center;
}
span {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: #470366;
}

/* header */

header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

/* logo */

a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
}

/* navbar */

nav li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}
nav li:hover {
  background-color: blue;
}

/* main */

/* .welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* first cards section "Pink" */

.first_section {
  background-color: #f2bcbca0;
  padding-top: 20px;
  margin-top: 50px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 20px;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  box-shadow: 0px 6px 12px 10px #99545466;
  padding: 20px;
  border-radius: 5%;
}

.item1 {
  background-color: #470366;
  order: 2;
  flex-shrink: 2;
}
.item2 {
  background-color: #0dc523;
  order: 4;
}
.item3 {
  background-color: #004eb4;
  order: 3;
}
.item4 {
  background-color: #f02727;
  order: 1;
}

.image {
  max-width: 300px;
  border-radius: 10%;
  border: 2px solid rgb(180, 132, 132);
}

/* second card section "Green" */

.sec_section {
  background-color: #91dcae69;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 50px;
}

.sec_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sec_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 6px 12px 10px #214b3266;
  padding: 20px;
  border-radius: 5%;
}

/* section {
  display: flex;
} */
